<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>exercicio13</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <body>

        <div class="flex">

            <div class="amarela alongar"></div>

                <div>

                    <div class="amarela limite esticar"></div>

                    <div class="flex">

                        <div class="amarela limite"></div>

                        <div class="amarela limite"></div>

                    </div>

                    <div class="amarela limite"></div>

                    

                </div>

                

            

            

        </div>

</body>

</html>

