body {

    background-color: dodgerblue;

}



.centralizar {

    max-width: 660px;

    margin: 0 auto;

}



.amarela {

    background-color: yellow;

    padding: 100px;

    margin: 10px;

    box-sizing: border-box;

    border-style: solid;

}



.esticar {

    padding-right: 320px;

}



.alongar {

    padding-top: 350px;

}



.flex {

    display: flex;

}



.limite{

    height: 100px;

    max-width: 640px;

   

}